.card {
    gap: 5px;
    width: 32.0em;
    height: 28.0em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5.0em;
    cursor: pointer;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.divStatusCode {
    text-align: center;
    width: 100%;
    background-color: #9C9A6E;
}